.section__title-en {
  color: $main-color;
  font-size: 2.625rem;
  
  @include respond(sp) {
    font-size: 2rem;
  }
}

.section__title-ja {
  font-size: 1.25rem;
  margin-bottom: 64px;

  @include respond(sp) {
    font-size: 1rem;
    margin-bottom: 48px;
  }
}