.header__wrapper {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1080px;
  height: 80px;
  padding: 0 10px;
}
.header {
  background-color: $header-color;

  &__logo {
    color: #ffffff;
    font-size: 2.2rem;
    line-height: 80px;
  }
}

.list {
  color: #ffffff;
  display: flex;
  &__item {
    margin-left: 56px;
    font-size: 1.25rem;
  }
}