.mainvisual {
  max-width: 1080px;
  height: 600px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  @include respond(tab) {
    flex-direction: column;
    justify-content:space-around
  }

}

.mainvisual__text {
  @include respond(tab) {
    text-align: center;
  }
}

.mainvisual__copy {
  font-size: 2.25rem;

  @include respond(sp) {
    font-size: 1.5rem;
  }
}

.mainvisual__title {
  font-size: 4.5rem;
  color: $main-color;
  font-family: $font-en;
  @include respond(sp) {
    font-size: 3.5rem;
  }
}

.mainvisual__img {
  max-width: 650px;
}