.service {
  max-width: 1080px;
}

.service__cards {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  @include respond(sp) {
    flex-direction: column;
  }
}

.service__card {
  padding: 16px;
}

.card {
  width: 31%;
  box-shadow: 0 0 12px rgba(60, 60, 60, 0.2);
  padding: 16px;

  @include respond(sp) {
    width: 100%;
    margin-bottom: 32px;
  }
}

.card__image {
  text-align: center;
  img {
    display: inline;
    width: 220px;
  }
}

.card__title {
  font-family: Hiragino Kaku Gothic ProN W6;
  text-align: left;
  font-weight: bold;
  font-size: $size-l;
  position: relative;

  @include respond(sp) {
    font-size: 1rem;
  }

  // カードタイトルの下線
  &::after{
    content: "";
    display:block;
    width:100%;
    height:2px;
    background-color: $main-color;
    position:absolute;
    bottom:0;
  }
}

.card__text {
  margin-top: 8px;
  text-align: left;
  
  @include respond(sp) {
    font-size: $size-s;
  }
}
